.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.bg-fundo {
  background-color: rgba(11, 34, 98, 0.978);
}

.titulo {
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
}

.navibar-button {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  position: center;
  align-content: center;
  vertical-align: center;
  width: 150px;
}

.botao-x {
  padding-left: 5px;
  padding-right: 5px;
  font-size: small;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  background:rgba(0, 0, 0, 0.77);
}

.btn-menu-tamanho{
 width: 135px;
}

.hover-menu {
  box-shadow: -2px 2px 2000px cyan;
}

.sombra-baixo {
  border-bottom: 1px solid cyan;
}

