.flex-container {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  padding: 15px;
  gap: 5px;
}

.bg-fundo {
  background-color: rgba(11, 34, 98, 0.978);
}

.titulo {
  margin-left: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
}

.navibar-button {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
  position: center;
  align-content: center;
  vertical-align: middle;
}

.botao-x {
  padding-left: 5px;
  padding-right: 5px;
  font-size: small;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}