body {
  --col-deepblue: rgba(11, 34, 98, 0.356);
  margin: 0;
  padding: 0;
  height: 100%;
}

footer {
  width: 100%;
  position:fixed;
  bottom: 0;
  z-index: 0;
  clear: both;
}

footer div {
  background-color: var(--col-deepblue);
  margin: 0;
  padding: 0;
  text-align: center;
  border: 2px solid cyan;
}

svg {
  overflow: visible;
}

.wave {
  animation: wave 3s linear;
  animation-iteration-count: infinite;
  fill: var(--col-deepblue);
  border: 2px solid cyan;
}

.gooeff {
  filter: url(#goo);
  border: 2px solid cyan;
}

#wave2 {
  animation-duration: 5s;
  animation-direction: reverse;
  border: 2px solid cyan;
  fill: rgba(255, 255, 0, 0.144);
}
#wave3 {
  animation-duration: 7s;
  border: 2px solid cyan;
  fill: rgba(0, 255, 255, 0.178);
}

@keyframes wave {
  to {
    transform: translateX(-100%);
  }
}
